<div class="main-container full-width full-height">
    <div class="spacer bordered full-height">
        <div class="menu container full-height col-sm-3 inline">
            <div class="bordered full-height">
                <ul class="menu-list">
                    <li *ngFor="let item of menuItems">
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="content container full-height col-sm-9 inline">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
